# Prerequisites
*.d

key.txt
key.txt.pub
todo.txt

vsid-lfxx-config

# Airports config files
src/config/vsid-settings-main.zip

# Visual Studio files
.vs/

# Visual Studio Code files
.vscode/

#ignore build directories
out/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
